/* FULL-LIBRARY book cards*/

.search-results-container .book-con {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 25px;
    padding: 8px;
    width: 85%;
    margin: auto;
    background-color: #e1d0bb;
}

.search-results-container h1 {
    position: relative;
    left: 60px;
}

.search-results-container .book {
    height: auto;
    width: 270px;
    /*border: 3px dotted rgb(73, 55, 36);*/
    padding: 10px;
    margin: 0 auto;
    color: rgb(73, 55, 36);
    /*background-color: tan;*/
    /*text-align: center;*/

    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-self: flex-end;
}

.search-results-container .book img {
    width: 100%;
    margin: 3px 0px;
}

.search-results-container .book h2 {
    font-size: 1rem;
}

.search-results-container .book p {
    font-size: 0.8rem;
}

.search-results-container .book h2:hover,
.search-results-container .book p:hover {
    color: white;
    cursor: pointer;
}

.search-results-container .book:active,
.search-results-container .book h2:active,
.search-results-container .book p:active {
    color:  black;
    background-color: tan;
}

/* btns */
.search-results-container button {
    color: black;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(172, 104, 15);
}

.search-results-container button:hover {
    color: white;
    padding: 3px;
    border-radius: 5px;
    background-color: rgb(172, 104, 15);
}

.search-results-container button:active {
    background-color: rgb(93, 56, 9);
}

/*TESSTT*/
.bookTester-con {
    display: flex;
    width: auto;
    align-items: center;
}

.det {
    width: 70%;
}